### 1. What is an algorithm?

An algorithm is a series of steps to solve a problem at hand

### 2. Variable names may not start with certain characters - name two.

* A variable name cannot start with a number.

* Variable names cannot start with special characters such as @, $, or #.


### 3. What is a Semantic error?

Code is grammatically correct but doesn't make any sense; it does not produce the expected results

### 4. What is the #1 rule of coding / debugging?

Chunk code into smaller sections and make sure each section works


### 5. List 5 Python reserved words.


* FALSE, TRUE, pass,
None,	else.

In [9]:
# Write a multi-line string with your name, favorite food, and dream job on 3 different lines

myName = "Srujana"
favFood = "Fish Curry"
dreamJob = "Data Analyst"

# Assign 5 different data types to 5 different variables. At least one datatype must be a string


name = "Srujana"
age = 30
height = 5.3
is_student = False
hobbies = ["reading", "hiking", "music"]



# Print the length of your string

print("The length of aname is ... ", len(name))

# Print the index value of the 4th character in your string

print(name[4])

The length of aname is ...  7
a

In [12]:
# Create a new variable called savvy, and assign it the string with this phrase "Learning Data Analytics and Python is Awesome!"

Savvy = "Learning Data Analytics and Python is Awesome!"
print(Savvy)

# Return a range of characters that slices the above string from the beginning of "ing" up to before "and"

result = Savvy[Savvy.index("ing"):Savvy.index("and")]
print(result)

# Replace "Awesome" with "great" in the string

replace = Savvy.replace("Awesome","great" )
print(replace)

# Test and print the savvy string to see it contains "Python"

Contains_Python = "Python" in Savvy
print(Contains_Python)

Learning Data Analytics and Python is Awesome!
ing Data Analytics
Learning Data Analytics and Python is great!
True

In [28]:
# Create and assign 3 more variables called name, age and length using the multi-variable naming method

name, age, length = ("Ritu", "7", len("Ritu"))
print(f"Name:{name}, Age:{age}, Length:{length}")



# Format a new string called 'miniBio' using variables in curly brackets to complete this phrase... "Hi my name is (name), I am (tall) and (so) old today."

name = "Eric"
tall = 5.7
so = 20

miniBio = f"Hi my name is {name}, I am {tall} and {so} old today."

# Print 'miniBio'

print(miniBio)

# Cast and print the age variable to a float

i = float(age)
print(i)

Name:Ritu, Age:7, Length:4
Hi my name is Eric, I am 5.7 and 20 old today.
7.0

In [56]:
# Create a list of at least 5 elements of mixed data types

list = ["Texas", 1931, 5.1, "August", "Valentine"]

print(list)


#Replace a part of it with something else

list[4] = "Alpine"

print(list)


#Append or insert several more items to the list

list.append("Magnitude")

print(list)

#Find and print the length of the list

print(len(list))


#Slice a sub-section of the 1st list, and save it to a different 2nd list

list2 = list[1:5]

#Print the 2nd list

print(list2)
#Extend your original list with the 2nd list sliced above

list.extend(list2)
print(list)

#Create a new list called "simList" containing at least 5 elements of the same data type, either string, integer, float, or Boolean

simList = [20, 45, 78, 99, 24]

#Sort "simList", and print the list
simList.sort()
print(simList)

#Copy the "simList" list to another 3rd list
list3 = simList.copy()
print(list3)

#Add the 2nd and 3rd lists together into a 4th list
list4 = list2 + list3
print(list4)

['Texas', 1931, 5.1, 'August', 'Valentine']
['Texas', 1931, 5.1, 'August', 'Alpine']
['Texas', 1931, 5.1, 'August', 'Alpine', 'Magnitude']
6
[1931, 5.1, 'August', 'Alpine']
['Texas', 1931, 5.1, 'August', 'Alpine', 'Magnitude', 1931, 5.1, 'August', 'Alpine']
[20, 24, 45, 78, 99]
[20, 24, 45, 78, 99]
[1931, 5.1, 'August', 'Alpine', 20, 24, 45, 78, 99]

In [93]:
# Create a tuple of about 5 elements

tup1 = 'Zoo', 'Museum', 1933, 2000

print(tup1)

#Multiply your tuple by 3 and save it to a new 2nd tuple
tup2 = tup1 * 3
print(tup2)


#Access and print the 12th element from the 2nd tuple

print(tup2[11])

#Sort the 2nd tuple and print it

strings = [x for x in tup2 if isinstance(x, str)]
numbers = [x for x in tup2 if isinstance(x, int)]

# Sorting strings and numbers separately
sorted_strings = sorted(strings)
sorted_numbers = sorted(numbers)

print(sorted_strings, sorted_numbers)


#Copy 4 specific elements from your 2nd tuple to a new 3rd tuple

tup3 = (tup2[2], tup2[4], tup2[5], tup2[7])
print(tup3)



#Unpack the 3rd tuple into 4 variables and print these variables

t1, t2, t3, t4 = tup3
print(tup3)

#Create a 4th tuple with single item 50 and print this tuple

tup4 = '50'
print(tup4)

#Add the 2nd and 3rd tuple together into a 5th tuple and print the tuple

tup5 = print(tup2 + tup3)

('Zoo', 'Museum', 1933, 2000)
('Zoo', 'Museum', 1933, 2000, 'Zoo', 'Museum', 1933, 2000, 'Zoo', 'Museum', 1933, 2000)
2000
['Museum', 'Museum', 'Museum', 'Zoo', 'Zoo', 'Zoo'] [1933, 1933, 1933, 2000, 2000, 2000]
(1933, 'Zoo', 'Museum', 2000)
(1933, 'Zoo', 'Museum', 2000)
50
('Zoo', 'Museum', 1933, 2000, 'Zoo', 'Museum', 1933, 2000, 'Zoo', 'Museum', 1933, 2000, 1933, 'Zoo', 'Museum', 2000)

In [111]:
#Create a set of about 3 elements

Set1 = {"red", "yellow", "green"}
print(Set1)


#Add a list of fruits to the above set and print the result

fruit_set = {"apple", "banana", "watermelon"}
print(fruit_set)

#Add a car element to your set

a = "car"
fruit_set.add(a)
print(fruit_set)


#Create a 2nd set with a few odd items

Set2 = {"Roadisland", "people", '20', 2.5 }

#Save the union of 1st set and 2nd set to a 3rd set

Set3 = Set1.union(Set2)
print(Set3)

#Pop an element from the 2nd set, and print the remainder of the set

p_set = Set2.pop()
print(f"Popped element: {p_set}")
print(f"Remaining elements in set2: {Set2}")

#Clear the 1st set and print the result

Set1.clear()
print(Set1)
#Discard an element, and remove another element from the 3rd set

Set3.discard("car")
print(f"Discard elements: {Set3}")

#Print the remainder of the 3rd set

print(f"remainder of the 3rd set: {Set3}")

{'green', 'yellow', 'red'}
{'banana', 'apple', 'watermelon'}
{'banana', 'apple', 'car', 'watermelon'}
{2.5, '20', 'green', 'yellow', 'Roadisland', 'people', 'red'}
Popped element: 2.5
Remaining elements in set2: {'Roadisland', 'people', '20'}
set()
remainder of the 3rd set: {2.5, '20', 'green', 'yellow', 'Roadisland', 'people', 'red'}

In [14]:
#Create a dictionary with at least 5 values of different data types

D1 = { "name1" : "Kim",
      "name2" : "Rocky",
      "age" : 20,
      "height" : 5.5,
      "student" : True 

        }

#Print out 1 value

print(D1["name1"])

#Replace any one value in your dictionary with your name

D1["name1"] = "srujana"
print(D1)

#Add your favorite color to the dictionary


D1["color"] = "Violet"
print(D1)

#Add a list, tuple or set to your dictionary

D1["tup"] = 'Zoo', 'Museum', 1933, 2000
print(D1)

#Print a list of the dictionary keys

print(D1.keys())

#Print a list of the dictionary values

print(D1.values())

#Copy your 1st dictionary into a 2nd dictionary

D2 = D1.copy()
print(D2)

#Pop an item from the 2nd dictionary, and print the dictionary


p_dict = D2.pop("color")
print(f"Popped element: {D2}")

#Remove all the elements from the 2nd dictionary and print the result

D2.clear()
print(D2)

Kim
{'name1': 'srujana', 'name2': 'Rocky', 'age': 20, 'height': 5.5, 'student': True}
{'name1': 'srujana', 'name2': 'Rocky', 'age': 20, 'height': 5.5, 'student': True, 'color': 'Violet'}
{'name1': 'srujana', 'name2': 'Rocky', 'age': 20, 'height': 5.5, 'student': True, 'color': 'Violet', 'tup': ('Zoo', 'Museum', 1933, 2000)}
dict_keys(['name1', 'name2', 'age', 'height', 'student', 'color', 'tup'])
dict_values(['srujana', 'Rocky', 20, 5.5, True, 'Violet', ('Zoo', 'Museum', 1933, 2000)])
{'name1': 'srujana', 'name2': 'Rocky', 'age': 20, 'height': 5.5, 'student': True, 'color': 'Violet', 'tup': ('Zoo', 'Museum', 1933, 2000)}
Popped element: {'name1': 'srujana', 'name2': 'Rocky', 'age': 20, 'height': 5.5, 'student': True, 'tup': ('Zoo', 'Museum', 1933, 2000)}
{}